/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src:  url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Regular.ttf'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto'), url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Regular.ttf'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
}









.negator.main-content {
    position:relative;
    min-height:250px;
}

.negator .intense {
	width:100%;
	height: 100%;
	position: absolute;
	background: url('https://i.imgur.com/QUoI7gg.png');
    background-size: cover;
    border-radius: 10px;
}

._78bu {
    margin-top: 30px;
}

.negator .intense .content {
	width: 100%;
    height: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.negator .intense .content .grid {
	display: grid;
}

.negator .intense .content img {
    width: 40px;
    margin: 0 auto;
}

.negator .intense .content p {
	display: block;
    font-family: Roboto !important;
    width: 94%;
    font-size: 16px;
    letter-spacing: 0.2px;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 10px;
    color: #e4e9ea;
}

.negator .intense .content ul {
	display: inline-block;
    margin: 0 auto;
    margin-top: 10px;
}

.negator .intense .content ul li {
	background: #e4e9ea;
    padding: 3px 15px;
    margin: 5px 5px;
    display: inline-flex;
    font-size: 15px;
    font-family: Roboto !important;
    font-weight: 500;
    color: #617986;
    border-radius: 3px;
}

.negator .intense .content button {
	width: 90%;
    border: none;
    border-top: 2px solid #e4e9ea85;
    font-family: Roboto !important;
    font-size: 14px;
    font-weight: 500;
    padding: 11px 0px;
    color: #e4e9ea;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    left: 5%;
    background: transparent;
}

.negator .hide-post {
	position: absolute;
    width: 30px;
    left: 50%;
    cursor: pointer;
    bottom: -43px;
    transform: translateX(-50%);
    z-index: 999999999;
}

.negator .hidden {
    opacity: 0;
    display: none;
}

.negator .mild {
	background: #768E9F;
    color: #768E9F;
    padding: 2px 5px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
  	position: relative;
  	display: inline-block;
}

.negator .mild {
  border-bottom: 1px dotted black;
}

.negator .mild .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;

  left: 0px;
  top: 35px;
}

.negator .mild:hover .tooltiptext {
  visibility: visible;
}


.negator-abuse {
    background: #c11e24;
    color: #c11e24 !important;
    border: 2px solid #c11e24;
    border-radius: 5px;
    font-weight: bold;
}

.negator-abuse.negator-viewable {
    color: #c11e24 !important;
    background: #ff00001f;
}


.negator-blog .mild {
    color: rgb(113, 42, 45);
    margin-right: 5px;
    position: relative;
    display: inline-block;
    background: rgb(113, 42, 45);
    padding: 2px 5px;
    border-radius: 5px;
    border:2px solid rgb(113, 42, 45);
}

.blink_me {
    animation: blinker 0.8s ease-in-out infinite;
    background: #c11e24;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top:0px;
    z-index: 9999999999;
    display: block;
}
  
@keyframes blinker {
    50% {
      opacity: 0;
    }
}